<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
  integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div
  class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between p-4 footerC"
>
  <!-- Copyright -->
  <div class="text-white mb-3 mb-md-0">
    Copyright © 2023. All rights reserved. Demo
    feature1 <button>Hello</button>
    feature1 <p>MAIN</p>
    feature2 feature4
    feature3
  </div>

  <div>
    <a
      href="https://www.facebook.com/BankofIndia/"
      target="_blank"
      class="text-white me-4"
    >
      <i class="fab fa-facebook-f"></i>
    </a>
    <a
      href="https://twitter.com/BankofIndia_IN?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
      target="_blank"
      class="text-white me-4"
    >
      <i class="fab fa-twitter"></i>
    </a>
    <a
      href="https://www.google.com/search?q=bank+of+india&sxsrf=AJOqlzVFfr5jEkQt5tSIucDqm7Kn9Eu56g%3A1673695922906&ei=spLCY9rtNpyW4-EPgIqp6Ag&ved=0ahUKEwjajsmX-8b8AhUcyzgGHQBFCo0Q4dUDCA8&uact=5&oq=bank+of+india&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIECCMQJzIOCC4QgAQQsQMQxwEQ0QMyBQgAEJECMgUIABCABDIICAAQgAQQsQMyBQgAEIAEMgUIABCRAjIFCAAQgAQ6CggAEEcQ1gQQsAM6BggAEBYQHjoKCAAQgAQQhwIQFDoLCC4QgAQQxwEQrwFKBAhBGABKBAhGGABQWFjeCGDmD2gBcAF4AIABzQGIAeMIkgEFMC42LjGYAQCgAQHIAQjAAQE&sclient=gws-wiz-serp"
      target="_blank"
      class="text-white me-4"
    >
      <i class="fab fa-google"></i>
    </a>
    <a
      href="https://www.linkedin.com/company/bank-of-india/"
      target="_blank"
      class="text-white"
    >
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</div>
