<div class="p-3 bg-success text-white d-none {{successClass}}
">
    <h6>
        Succes!
    </h6>
    <h6>
        Message sent successfully!
    </h6>
</div>
<div class="contact_page">
    <h1 class="contact_heading">Contact Us</h1>

    <div class="contact_container">

        <div class="contact_detail">
            <div class="contact_box">
                <h3>Address</h3>
                <p>638R+F75, OUR OWN CHS LTD, NANA SHANKAR SETH ROAD NEAR GOPI CINE MALL, Dombivli West, Dombivli,
                    Maharashtra 421202
                </p>
            </div>

            <div class="contact_box">
                <h3>Call Us</h3>
                <p> 1800 22 0229 </p>
                <p> 0251 240 0207</p>
            </div>

            <div class="contact_box">
                <h3>Email Us</h3>
                <p>bankOfIndia@gmail.com</p>
            </div>

            <div class="contact_box">
                <h3>Open Hours</h3>
                <p>Monday-Friday</p>
            </div>
        </div>

        <div class="contact_form">
            <form action="">
                <div class="contact_form_wrapper">
                    <input class="contact_input" type="text" placeholder="Your name">
                    <input class="contact_input" type="email" placeholder="Your Email">
                </div>
                <input class="contact_input" type="text" placeholder="Subject">
                <textarea class="contact_input" name="" id="" cols="10" rows="5" placeholder="Message"></textarea>
                <div class="contact_form_btn">
                    <button (click)="onSubmit()">Send Message</button>
                </div>
            </form>
        </div>

    </div>
</div>
