<div class="container home-container">
    <div class="row">
        <div class="col-md-6 mt-4 ps-5 pt-5">
            <h1>Welcome</h1>
            <p>From easy transaction to deposit and withdrawl. Open a account in Bank of India now.</p>
            <button (click)="goToRegisterAccount()" class="d-flex align-items-center justify-content-center home_btn">Create Account 
                <span class="material-symbols-outlined ">
                arrow_forward
                </span>
            </button>
        </div>
        <div class="col-md-6">
            <img class="home_img" src="/assets/home_img.svg" alt="IMG" />
        </div>
    </div>  
</div>